atom.symlink/.apm
atom.symlink/.node-gyp
atom.symlink/.storage
atom.symlink/compile-cache/
atom.symlink/packages
atom.symlink/storage
atom.symlink/themes
git/gitconfig.symlink
ansible.symlink/hosts
ansible.symlink/cp
npm/node_modules
sublime/User/
homestead.symlink/Homestead.yaml
!sublime/User/Distraction Free.sublime-settings
!sublime/User/Package Control.sublime-settings
!sublime/User/Preferences.sublime-settings
!sublime/User/Ruby.sublime-settings
