{% for account in aws_accounts %}
[{{account.name}}]
aws_access_key_id = {{account.key}}
aws_secret_access_key = {{account.secret}}
region = {{account.region}}
output = {{account.output}}

{% endfor %}